* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: #555;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #0a0909
}

#myVideo {
  position: fixed;
  top: -4%;
  width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 80px 10px 10px 10px;
  left: 4%;
}

h1 {
  color: #fff;
}

a {
  color: #03A9F4;
  text-decoration: none;
  border-left: 1px solid;
  padding: 4px;
}

a:hover {
  color: #fff;
}

.items {
  font-size: 20px;
  margin: 20px 10px;
  display: inline-block;
}
