* {
  margin: 10px auto;
}

body {
  text-align: center;
  background: #2980b9;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 40px;
}

:root {
  --base: #e67e22;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

#base {
  vertical-align: 6px;
}
